.card {
  width: 282px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__info {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 20px;
  align-items: center;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.card__caption {
  color: black;
  font-family: "Inter", Arial, Sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 25px 0 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 211px;
}

.card__like-button {
  background: no-repeat center transparent url(../images/heart.svg);
  width: 21px;
  height: 18px;
  border: transparent;
  object-fit: contain;
  opacity: 100%;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.card__like-button_active {
  background: no-repeat center transparent url(../images/Union.svg);
}

.card__like-button:hover {
  opacity: 50%;
}

.card__image-container {
  position: relative;
}

.card__trash-button {
  background: no-repeat center url(../images/Trash.svg);
  position: absolute;
  width: 18px;
  height: 19px;
  top: 18px;
  right: 15px;
  z-index: 2;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.3s linear;
}

.card__trash-button:hover {
  opacity: 50%;
}
