.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
}

.profile__image {
  margin-right: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  grid-template-columns: minmax(auto, 393px) auto;
}

.profile__title {
  color: white;
  grid-area: title;
  font-family: "Inter", Arial, Sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 0 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__edit-button {
  grid-area: button;
  background: transparent url(../images/pencil-icon.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  opacity: 100%;
  transition: opacity 0.3s linear;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__subtitle {
  color: white;
  grid-area: subtitle;
  font-family: "Inter", Arial, Sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__add-button {
  height: 50px;
  width: 150px;
  background: transparent url(../images/add-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
  opacity: 100%;
  transition: opacity 0.3s linear;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 775px) {
  .profile__add-button {
    width: 50px;
  }
  .profile__info {
    grid-template-columns: minmax(auto, 1fr) auto;
  }
  .profile__title {
    font-size: 35px;
    margin-right: 18px;
  }
  .profile__subtitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 618px) {
  .profile {
    flex-direction: column;
  }
  .profile__image {
    margin: 0 0 30px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 282px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    margin: 0 0 14px;
    max-width: 250px;
  }
  .profile__subtitle {
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-bottom: 36px;
    line-height: 16.94px;
  }
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
  .profile__add-button {
    width: 282px;
    margin: auto;
  }
}
